@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8fe3ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8fe3ff;
    --foreground: #1C1917;
    --secondary: #1B82F6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  .segou_button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  }
}
